mixin doctypeHead(title)
    doctype html
    head 
        meta(lang="ru")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/normalize.css")
        link(rel="stylesheet" href="../css/main.css")
        title #{title}

mixin colorSample(firstLine, secondLine, className)
    .colors-sample-item.colors-sample__item
        div(class="colors-sample-item__sample colors-sample-item__sample_"+className)
        .colors-sample-item__description
            p #{firstLine} <br> #{secondLine}

mixin typesSample(name, text1, text2, className, tag)
    div(class="types-sample-item types-sample__item")
        div(class="types-sample-item__name types-sample-item__name_"+className) #{name}
        .types-sample-item__description !{"<"+tag+">"+text1+"<br>"+text2}